:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    color: #0033a0;
    font-size: 22px;
    font-weight: bold;
  }
  
  button {
    background-color: #0033a0;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #002080;
  }
  