//SIDENAV scss
.sidenav {
  background-color: white; /* Color de fondo de la sidebar */
  height: 100vh; /* Alto completo */
  display: flex;
  flex-direction: column;
}

.custom-shadow {
  height: 100vh !important; /* Asegúrate de que la altura sea completa */
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.6); /* Sombra a la derecha */
  //position: relative; /* Asegúrate de que esté en el flujo del documento */
  z-index: 1; /* Asegúrate de que tenga un índice z mayor que el contenido */
}

.toggle-button {
  cursor: pointer;
  padding: 10px;
  background-color: #3f51b5; /* Color del botón de toggle */
  color: white;
  text-align: center;
}

.sidebar-content {
  margin-top: 20px;
  padding: 10px;
}

.main-content {
  padding: 10px;
  background-color: #fff; /* Color de fondo del contenido principal */
  flex-direction: row;
  display: flex;
  gap: 10px;
  height: 100vh;
}
.mat-sidenav-container {
  overflow: visible; // Permitir que la sombra del sidenav sea visible
  //position: relative;
}

.footer-figure {
  position: absolute;
  bottom: 0;
  width: 100%; // Esto asegura que ocupe todo el ancho disponible de la sidenav
  height: 101px; // Altura fija; puedes ajustar esto según tus necesidades
  background-color: #213A7D; // Color azul

  // Aplicar un radio de borde para esquinas redondeadas si se requiere
  border-top-right-radius: 20px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.6), 
  0px 1px 10px rgba(0, 0, 0, 0.2); /* Sombras para dar más profundidad */
}

.logo-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin: 28px 0; /* Margen superior e inferior para separación */
  max-height: 139px;
}

.logo-container img {
  //max-width: 80%; /* Ajusta el tamaño del logo según lo necesario */
  height: 86px;
}


// Para el componente "Map"
#map {
  width: 50%; /* tamaño normal */
  transition: width 0.3s;
}

#map.expanded {
  width: 90%; /* tamaño expandido */
}

// Para el componente "Monitor"
#monitor {
  width: 50%; /* tamaño normal */
  transition: width 0.3s height 0.3s;;
}

#monitor.expanded {
  width: 90% !important; /* tamaño expandido */
  height: 90% !important; /* tamaño expandido */
}
