<as-split direction="horizontal" unit="percent" [gutterSize]="0">
  <!-- Sidebar Area -->
  <as-split-area
    [size]="isSideNavExpanded ? maxSizeSidenav : minSizeSidenav"
    [lockSize]="true"
    class="custom-shadow"
  >
    <div class="sidenav" (click)="toggleSidebar()">
      <!-- Contenedor del logo -->
      <div class="logo-container">
        <img
          *ngIf="isSideNavExpanded; else collapsedLogo"
          src="/logo.svg"
          alt="Logo Expandido"
        />

        <ng-template #collapsedLogo>
          <img src="/small_logo.svg" alt="Logo Colapsado" />
        </ng-template>
      </div>
      <div class="sidenav-status">
        <!-- Estado contraído (círculos) -->
        <div *ngIf="!isSideNavExpanded">
          <div class="status-item collapsed" [ngClass]="{alert: isControllerConnected}">
            <mat-icon class="status-icon" [ngClass]="{alert: isControllerConnected}">gamepad</mat-icon>
          </div>
          <div class="status-item collapsed alert">
            <mat-icon class="status-icon">battery_alert</mat-icon>
          </div>
        </div>

        <!-- Estado expandido (línea horizontal) -->
        <div *ngIf="isSideNavExpanded" class="status-container expanded">
          <div class="status-item" [ngClass]="{alert: isControllerConnected}">
            <mat-icon class="status-icon" [ngClass]="{alert: isControllerConnected}">gamepad</mat-icon>
            <span class="status-label" *ngIf="!isControllerConnected">Conectado</span>
            <span class="status-label alert" *ngIf="isControllerConnected">Desconectado</span>
          </div>
          <div class="status-item alert">
            <mat-icon class="status-icon">battery_alert</mat-icon>
            <span class="status-label">Agotada</span>
          </div>
        </div>
      </div>

      <!-- Botones en el sidenav -->
      <div class="sidenav-buttons">

        <!-- Menú desplegable cuando el sidebar está expandido 
        <button *ngIf="isSideNavExpanded" mat-button [matMenuTriggerFor]="menu"
        class="sidenav-button-menu"
        (click)="$event.stopPropagation()">
          <mat-icon>{{ speedButton.icon }}</mat-icon>
          <span class="button-label">{{ speedButton.label }}</span>
        </button>-->

        <!-- Menú de opciones 
        <mat-menu #menu="matMenu" class="speed-opt">
          <button mat-menu-item *ngFor="let speed of speeds" (click)="onSpeedClick(speed)">
            {{ speed }}
          </button>
        </mat-menu>-->

        <!-- Botón normal cuando el sidebar está contraído 
        <button *ngIf="!isSideNavExpanded" class="sidenav-button" mat-button (click)="toggleSpeedMenu($event)">
          <mat-icon class="button-icon">{{ speedButton.icon }}</mat-icon>
        </button>-->

        <button
          *ngFor="let button of buttons"
          class="sidenav-button"
          [ngClass]="{ expanded: isSideNavExpanded }"
          mat-button
          [attr.data-label]="button.label"
          (click)="onButtonClick($event, button)"
        >
          <mat-icon class="button-icon">{{ button.icon }}</mat-icon>
          <span *ngIf="isSideNavExpanded" class="button-label">{{
            button.label
          }}</span>
        </button>
      </div>
      <!-- Figura azul en la parte inferior del sidebar -->
      <div class="footer-figure" [ngStyle]="getFooterFigureStyle()"></div>
    </div>
  </as-split-area>

  <!-- Contenido principal -->
  <as-split-area
    [size]="isSideNavExpanded ? 100 - maxSizeSidenav : 100 - minSizeSidenav"
  >
    <div class="main-content">
      <p>Main Content</p>
    </div>
  </as-split-area>
</as-split>

<app-gamepad (gamepadConnectionStatus)="onGamepadStatusChange($event)" (changeValue)="changeSpeedByGamepad($event)" style="display: none;"></app-gamepad>

