//SIDENAV structure scss
.sidenav {
  background-color: white; /* Color de fondo de la sidebar */
  height: 100vh; /* Alto completo */
  display: flex;
  flex-direction: column;
}

.custom-shadow {
  height: 100vh !important; /* Asegúrate de que la altura sea completa */
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.6); /* Sombra a la derecha */
  //position: relative; /* Asegúrate de que esté en el flujo del documento */
  z-index: 1; /* Asegúrate de que tenga un índice z mayor que el contenido */
}

.toggle-button {
  cursor: pointer;
  padding: 10px;
  background-color: #3f51b5; /* Color del botón de toggle */
  color: white;
  text-align: center;
}

.sidebar-content {
  margin-top: 20px;
  padding: 10px;
}

.main-content {
  padding: 10px;
  background-color: #fff; /* Color de fondo del contenido principal */
}
.mat-sidenav-container {
  overflow: visible; // Permitir que la sombra del sidenav sea visible
  //position: relative;
}

.footer-figure {
  position: absolute;
  bottom: 0;
  width: 100%; // Esto asegura que ocupe todo el ancho disponible de la sidenav
  height: 101px; // Altura fija; puedes ajustar esto según tus necesidades
  background-color: #213a7d; // Color azul

  // Aplicar un radio de borde para esquinas redondeadas si se requiere
  border-top-right-radius: 20px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.6), 0px 1px 10px rgba(0, 0, 0, 0.2); /* Sombras para dar más profundidad */
}

.logo-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin: 28px 0; /* Margen superior e inferior para separación */
  max-height: 139px;
}

.logo-container img {
  //max-width: 80%; /* Ajusta el tamaño del logo según lo necesario */
  height: 86px;
}

//Buttons Scss
.sidenav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}


.sidenav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 25px; // Botón redondo en estado contraído
  border: 2px solid #0033a0; // Borde azul
  margin: 8px 0;
  overflow: hidden;
  transition: all 0.3s;

  .button-icon {
    font-size: 24px;
    color: #0033a0; // Color del icono
  }

  .button-label {
    font-size: 16px;
    font-weight: 500;
    margin-left: 16px;
    color: #0033a0; // Color del texto
  }
 

  // Estado expandido
  &.expanded {
    width: 350px;
    border-radius: 25px; // Botón alargado con extremos redondeados
    justify-content: flex-start;
    padding-left: 16px;

    .button-label {
      font-weight: bold; /* Remarca el texto */
    }

    .button-icon {
      margin-right: 8px;
    }
  }

  &:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra alrededor del botón */

    //Boton Pausa
    &[data-label="PAUSAR"] {
      background-color: #b4e1f4;
      border: #b4e1f4; // Borde azul
    }

    //Boton Reiniciar
    &[data-label="REINICIAR"] {
      background-color: #d32f2f;
      border: #d32f2f; 
    }

     //Boton Restablecer
    &[data-label="RESTABLECER"] {
      background-color: #ffe8a1;
      border: #ffe8a1; 
    }
  }
}


.sidenav-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px 10px; 

  // Indicadores contraídos (círculos)
  .status-item.collapsed {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff; // Fondo blanco
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0033a0; // Borde azul
    margin-bottom: 12px;

    .status-icon {
      color: #0033a0; // Íconos en azul
      font-size: 24px;
    }

    &.alert {
      border-color: #d32f2f; // Borde rojo en alerta
      background-color: #ffe6e6; // Fondo de alerta (opcional)
      .status-icon {
        color: #d32f2f; // Íconos en rojo
      }
    }
  }

  // Indicadores expandidos (línea horizontal con texto)
  .status-container.expanded {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    margin-bottom: 16px;

    .status-item {
      display: flex;
      align-items: center;
      border: none; // Sin borde en expandido
      background: none; // Sin fondo en expandido
      padding: 6px 28px;
      border-radius: 25px;
      border: 2px solid #0033a0; // Borde azul
      flex-direction: column;
      width: 136px; /* Ancho fijo */
      height: 82px; /* Alto fijo */
      justify-content: center;
      padding: 10px;

      .status-icon {
        color: #0033a0; // Íconos en azul
        font-size: 24px;
        margin-right: 8px; // Espaciado entre ícono y texto
      }

      .status-label {
        color: #0033a0; // Texto en azul
        font-size: 16px;
        font-weight: bold;
      }

       // Cambiar a estado de alerta
       &.alert {
        border-color: #d32f2f; // Borde rojo en alerta
        background-color: #ffe6e6; // Fondo de alerta (opcional)
        .status-icon {
          color: #d32f2f; // Íconos en rojo
        }
        .status-label {
          color: #d32f2f; // Texto en rojo
        }
      }
    }
  }
}
