.console-output {
    font-family: 'Courier New', Courier, monospace;
    background-color:  #fff;
    color: #213A7D;
    padding: 10px;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .console-line {
    margin-bottom: 5px;
  }
  
  .tag {
    color: #00ff00; /* Green for tag */
  }
  
  .type {
    font-weight: bold;
  }
  
  .message {
    color: #213A7D; /* Blue for message */
  }
  
  /* Color by type */
  .info {
    color: #00ff00; /* Green for info */
  }
  
  .warning {
    color: #ffcc00; /* Yellow for warning */
  }
  
  .error {
    color: #ff0000; /* Red for error */
  }
  