<h2 mat-dialog-title>¡Bienvenido a Cyclops!</h2>
<mat-dialog-content style="text-align: justify; line-height: 1.5;"
  ><p>Al ingresar a la materia se nos presentaron unas series de posibles proyectos
  a realizar, y tras analizarlos decidimos elegir el conocido como proyecto -
  A.2 Armado de sensor LIDAR con Vl53l0-, y al que, para simplificar, apodamos
  Cyclops, en referencia al héroe de Marvel.</p> <p>El mismo nos presentaba el desafío
  de diseñar un vehículo a control remoto el cual contará con la capacidad de
  detectar los obstáculos de su entorno mediante la utilización de tecnología
  Lidar; y a partir de esto generar un mapa donde se visualizan dichos
  obstáculos. Además, se nos planteó la utilización del chip ESP32 como el
  microcontrolador a cargo de todo el sistema.</p><p>En tanto que para el control del
  vehículo y para visualizar dicha información, se nos solicitó implementar una
  aplicación web.</p><p> Este proyecto está inspirado en los robots y drones que se
  utilizan normalmente para el mapeo de entornos con tecnología LiDAR, y en
  particular en el proyecto Linorobot del usuario Rud Merriam. El cual es un
  robot de pequeñas dimensiones equipado con un LiDAR de alta capacidad, el cual
  realiza un mapa de su entorno utilizando ROS.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
